/build/
.packages
/.cache/
**/.vscode/
tedi_test.go
/lib/protogen
.clangd/
compile_commands.json
/.kdev4/
/*.kdev4
/.cache
*_pb.toit
*_mock.go
tedi_test.go
/third_party/benchmarks/java/*.class

**/node_modules/
/tools/lsp/client/npm-debug.log
/tools/lsp/client/vsc-extension-quickstart.md
/tools/lsp/client/out/

/tests/health/health_sources.cmake

.gdb_history

*.swp
*.swo
*.swn
