* text=auto eol=lf

# Source files should not be normalized to avoid confusing clang-format-diff.py
*.c text
*.cc text
*.cpp text
*.h text

# Explicitly declare text files we want to be normalized.
*.mk text
Makefile text
CMakeLists.txt text
*.md text
*.yaml text

# File that should not be converted.
tests/default_values_test.toit -text
tests/font_test.toit -text
tests/string_large_literal_test.toit -text
tests/string_trailing_test.toit -text
tests/string_test.toit -text
