[submodule "third_party/esp-idf"]
	path = third_party/esp-idf
	url = https://github.com/toitware/esp-idf.git
	branch = patch-head-5.4.2
	ignore = untracked
[submodule "third_party/luatos-soc-ec618"]
	path = third_party/luatos-soc-ec618
	url = https://github.com/toitlang/luatos-soc-2022.git
	branch = floitsch/bring-up-cleaned
[submodule "third_party/pico-sdk"]
	path = third_party/pico-sdk
	url = https://github.com/toitlang/pico-sdk.git
	branch = toit-2.3.1
[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
