<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.toitlang.bletest">
  <uses-sdk android:minSdkVersion="33" android:targetSdkVersion="36" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
  <application android:label="Toit BLE regression" android:allowBackup="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name=".CccdActivity" android:exported="true" />
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
