name: Build Linux

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build cmake
          ninja --version
          cmake --version
          gcc --version
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: make
        env:
          IDF_PATH: ${{github.workspace}}/third_party/esp-idf
        run: make tools
      - name: Pack artifacts
        run: |
          tar -czf build/toit-linux.tar.gz -C ./build/host -h --transform s/^sdk/toit/ sdk
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: linux-build
          path: build/toit-linux.tar.gz
      - name: Upload release artifacts
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/toit-linux.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
