name: Build macOS

on:
  push:
    branches: [master,pack-artifacts]
  pull_request:
    branches: [master]
  release:
    types: [published]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Install dependencies
        run: |
          brew install cmake ninja
          ninja --version
          cmake --version
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: make
        env:
          IDF_PATH: ${{github.workspace}}/third_party/esp-idf
        run: make tools
      - name: Pack artifacts
        run: |
          tar -czf build/darwin.tgz -C ./build --s /^host/toit/ host
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: darwin-build
          path: build/darwin.tgz
      - name: Upload release artifacts
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/darwin.tgz
          tag: ${{ github.ref }}
          overwrite: true
