
name: debug

on:
  push:

jobs:
  debug:
    runs-on: windows-latest
    steps:
      - shell: bash
        run: echo $PATH

      # Run ssh.
      - uses: luchihoratiu/debug-via-ssh@main
        with:
          NGROK_AUTH_TOKEN: "${{ secrets.NGROK_FLORIAN }}"
          SSH_PASS: "aoeuAOEU0"
