name: CI

on:
  push:
  release:
    types: [published]

jobs:
  build:
    strategy:
      # The matrix will run all possible combinations in parallel.
      matrix:
        # ubuntu-20.04 so that we don't depend on a recent glibc.
        container: [ ubuntu-20.04, macos-latest, windows-latest ]
        shard: [1, 2, 3, 4, 5]

        include:
          - container: ubuntu-20.04
            shard: 6
          - container: ubuntu-20.04
            shard: 7
          - container: ubuntu-20.04
            shard: 8
          - container: ubuntu-20.04
            shard: 9
          - container: ubuntu-20.04
            shard: 10

    runs-on: ${{ matrix.container }}

    steps:
      - name: Set up constants
        id: constants
        run: |
          echo ::set-output name=external_result::external-result/$RUNNER_OS-${{ matrix.shard }}.txt
          echo ::set-output name=external_result_name::external-result-${{ github.run_id }}-${{ github.run_attempt }}
          echo ::set-output name=debug_root_dir::debug-ci
          echo ::set-output name=debug_dir::debug-ci/$RUNNER_OS-${{ matrix.shard }}
          if [ "$RUNNER_OS" == "Linux" ]; then
            echo ::set-output name=artifact::toit-linux.tar.gz
            echo ::set-output name=total_shards::10
          elif [ "$RUNNER_OS" == "macOS" ]; then
            echo ::set-output name=artifact::toit-macos.tar.gz
            echo ::set-output name=total_shards::5
          elif [ "$RUNNER_OS" == "Windows" ]; then
            echo ::set-output name=artifact::toit-windows.tar.gz
            echo ::set-output name=total_shards::5
          else
            echo "UNSUPPORTED RUNNER: $RUNNER_OS"
            exit 1
          fi
        shell: bash

      - uses: actions/checkout@v2

      # Anything in the debug dir will be uploaded as artifact.
      - name: Setup debug dir
        shell: sh
        run: |
          mkdir -p ${{ steps.constants.outputs.debug_dir }}

      - name: Fetch tags
        # The github checkout is shallow and doesn't have tags.
        run: |
          git fetch --tags

      # We only need the mbedtls submodule for building.
      - name: Initialize mbedtls submodule
        run: |
          cd third_party/esp-idf
          git submodule update --init .
          git submodule update --init components/mbedtls

      # Use Go 1.17
      - name: Switch to Go 1.17
        run:
          echo "$GOROOT_1_17_X64"/bin >> $GITHUB_PATH

      # Get values for cache paths to be used in later steps
      - name: Get Go paths
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"

      - name: Go cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-build }}
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Ccache cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.ccache
          key: ${{ runner.os }}-ccache-${{ github.sha }}
          restore-keys: ${{ runner.os }}-ccache-

      # Cache deb files.
      - name: Apt cache - Linux
        if: runner.os == 'Linux'
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/apt-cacher-ng
          key: ${{ runner.os }}-apt-${{ github.sha }}
          restore-keys: ${{ runner.os }}-apt

      - name: Install and configure apt-cacher-ng - Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update -q
          sudo apt-get install -q apt-cacher-ng
          sudo systemctl stop apt-cacher-ng
          if [[ -f apt-cacher-ng/cache.tar.gz ]]; then
            sudo tar -xzf apt-cacher-ng/cache.tar.gz -C /var/cache/apt-cacher-ng
          fi
          echo "Acquire::http::Proxy \"http://localhost:3142\";" | sudo tee /etc/apt/apt.conf.d/00proxy
          echo "PassThroughPattern: .*" | sudo tee -a /etc/apt-cacher-ng/acng.conf
          sudo systemctl restart apt-cacher-ng

      # Fetch the dependencies. Different for each platform.
      - name: Install dependencies - Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update -q
          sudo apt-get install -q ninja-build ccache gcc-multilib g++-multilib socat
          ninja --version
          cmake --version
          gcc --version
          socat -V
      - name: Install dependencies - macOS
        if: runner.os == 'macOS'
        run: |
          brew install ninja ccache
          ninja --version
          cmake --version
      - name: Install dependencies - Windows
        if: runner.os == 'Windows'
        run: |
          choco install ninja ccache
          ninja --version
          ccache --version
          cmake --version

      - name: Copy apt cache back - Linux
        if: runner.os == 'Linux'
        run: |
          mkdir -p apt-cacher-ng
          sudo tar -czf apt-cacher-ng/cache.tar.gz -C /var/cache/apt-cacher-ng .
          sudo chown $(whoami) apt-cacher-ng/cache.tar.gz

      - name: Setup compilation env
        shell: bash
        run: |
          echo "IDF_PATH=${{ github.workspace }}/third_party/esp-idf" >> $GITHUB_ENV
          echo "CCACHE_DIR=${{ github.workspace }}/.ccache" >> $GITHUB_ENV
          echo "CCACHE_BASEDIR=${{ github.workspace }}" >> $GITHUB_ENV
          echo "CCACHE_COMPRESS=true" >> $GITHUB_ENV
          echo "CCACHE_COMPRESSLEVEL=6" >> $GITHUB_ENV
          echo "CCACHE_MAXSIZE=400M" >> $GITHUB_ENV
          echo "SHARD_START=${{ matrix.shard }}" >> $GITHUB_ENV
          echo "SHARD_STRIDE=${{ steps.constants.outputs.total_shards }}" >> $GITHUB_ENV

      # Build using make.
      - name: make
        shell: bash
        run: |
          make all
          if [ "$RUNNER_OS" == "Linux" ]; then
            make CROSS_ARCH=host32 BUILD_TYPE=Debug all-cross
          fi

      # Test.
      - name: Test
        shell: bash  # This is crucial, as the powershell doesn't abort when there is an error.
        run: |
          make test
          make test-health

      - name: Test 32bit debug
        if: runner.os == 'Linux'
        run: |
          make HOST=host32 BUILD_TYPE=Debug test

      # Test external code.
      - name: Test external
        # External tests are allowed to fail, but we record them and
        # fail a non-required job if they do.
        continue-on-error: true
        env:
          IDF_PATH: ${{ github.workspace }}/third_party/esp-idf
          CCACHE_DIR: ${{ github.workspace }}/.ccache
          CCACHE_BASEDIR: ${{ github.workspace }}
          CCACHE_COMPRESS: true
          CCACHE_COMPRESSLEVEL: '6'
          CCACHE_MAXSIZE: 400M
          SHARD_START: ${{ matrix.shard }}
          SHARD_STRIDE: ${{ steps.constants.outputs.total_shards }}
        shell: bash
        run: |
          # Mark the external test as failing, and update it at the end of this step.
          mkdir -p $(dirname ${{ steps.constants.outputs.external_result }})
          echo fail > ${{ steps.constants.outputs.external_result }}
          make enable-external
          find external > ${{ steps.constants.outputs.debug_dir }}/${{ matrix.container }}_${{ matrix.shard }}_files_after_enable_external.log
          make test-external
          make test-external-health
          if [ "$RUNNER_OS" == "Linux" ]; then
            cmake -DTOIT_TEST_EXTERNAL=ON build/host32
            make CROSS_ARCH=host32 BUILD_TYPE=Debug rebuild-cross-cmake
            cd build/host32
            ninja check_external
            cd ../..
          fi
          # If we reach here, all steps of this step succeeded.
          echo success > ${{ steps.constants.outputs.external_result }}

      - name: Store external test result
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.constants.outputs.external_result_name }}
          path: ${{ steps.constants.outputs.external_result }}

      - name: Pack artifacts
        if: matrix.shard == 1
        shell: bash
        # Note that we use `cp -R` first, since that works on every platform.
        run: |
          cp -R ./build/host/sdk ./build/host/toit
          tar -czf build/${{ steps.constants.outputs.artifact }} -C ./build/host -h --exclude toit/bin/mbedtls toit

      - name: Prepare debug repros
        if: always()
        continue-on-error: true
        shell: bash
        run: |
          REPRO_DIR=${{ steps.constants.outputs.debug_dir }}/repros
          mkdir -p $REPRO_DIR
          find /tmp -maxdepth 1 -name 'lsp_repro-*' -exec cp -r {} $REPRO_DIR \;

      - name: Upload debug artifacts
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v2
        with:
          name: debug
          path: ${{ steps.constants.outputs.debug_root_dir }}
          retention-days: 5

      - name: Upload artifacts
        if: matrix.shard == 1
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}-build
          path: build/${{ steps.constants.outputs.artifact }}

      - name: Upload release artifacts
        if: |
          (github.event_name) == 'release' &&
          (matrix.shard == 1)
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/${{ steps.constants.outputs.artifact }}
          tag: ${{ github.ref }}
          overwrite: true

  # Really annoying that we need to duplicate so much.
  esp32:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Fetch tags
        # The github checkout is shallow and doesn't have tags.
        run: |
          git fetch --tags

      - name: Initialize submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive -j 16

      # Use Go 1.17
      - name: Switch to Go 1.17
        run:
          echo "$GOROOT_1_17_X64"/bin >> $GITHUB_PATH

      # Get values for cache paths to be used in later steps
      - name: Get Go paths
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"

      # Cache go build cache, used to speedup go test
      - name: Go Build Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-build-

      # Cache go mod cache, used to speedup builds
      - name: Go Mod Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-mod-

      - name: Ccache cache
        uses: actions/cache@v3
        # Store and retrieve the cache with the given sha.
        # The 'restore-keys' prefix finds the most recent cache in case there
        # is no match (which should almost always be the case).
        with:
          path: ${{ github.workspace }}/.ccache
          key: esp32-ccache-${{ github.sha }}
          restore-keys: esp32-ccache-

      - name: Install dependencies - Linux
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build ccache
          ninja --version
          cmake --version
          gcc --version

      - name: Install ESP32 tools
        run: |
          third_party/esp-idf/install.sh

      # Build using make.
      - name: make
        env:
          IDF_PATH: ${{ github.workspace }}/third_party/esp-idf
          IDF_CCACHE_ENABLE: 1
          CCACHE_DIR: ${{ github.workspace }}/.ccache
          CCACHE_BASEDIR: ${{ github.workspace }}
          CCACHE_COMPRESS: true
          CCACHE_COMPRESSLEVEL: '6'
          CCACHE_MAXSIZE: 400M
        run: |
          source third_party/esp-idf/export.sh
          make esp32
          make ESP32_CHIP=esp32s3 esp32

      - name: Pack firmware artifacts
        shell: bash
        run: |
          gzip --to-stdout build/esp32/firmware.envelope > build/firmware-esp32.gz

      - name: Upload firmware artifacts
        uses: actions/upload-artifact@v2
        with:
          name: firmware-esp32.gz
          path: build/firmware-esp32.gz

      - name: Upload release firmware artifacts
        if: (github.event_name) == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/firmware-esp32.gz
          tag: ${{ github.ref }}
          overwrite: true

  # Really annoying that we need to duplicate so much.
  cross:
    runs-on: ubuntu-latest

    steps:
      - name: Set up constants
        id: constants
        run: |
          echo ::set-output name=raspberry_pi_artifact::toit-rpi.tar.gz
        shell: bash

      - uses: actions/checkout@v2

      - name: Fetch tags
        # The github checkout is shallow and doesn't have tags.
        run: |
          git fetch --tags

      # We only need the tpkg and mbedtls submodule for building.
      - name: Initialize mbedtls submodule
        run: |
          cd third_party/esp-idf
          git submodule update --init .
          git submodule update --init components/mbedtls

      # Use Go 1.17
      - name: Switch to Go 1.17
        run:
          echo "$GOROOT_1_17_X64"/bin >> $GITHUB_PATH

      # Get values for cache paths to be used in later steps
      - name: Get Go paths
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"

      # Cache go build cache, used to speedup go test
      - name: Go Build Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-build-

      # Cache go mod cache, used to speedup builds
      - name: Go Mod Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-mod-

      - name: Ccache cache
        uses: actions/cache@v3
        # Store and retrieve the cache with the given sha.
        # The 'restore-keys' prefix finds the most recent cache in case there
        # is no match (which should almost always be the case).
        with:
          path: ${{ github.workspace }}/.ccache
          key: esp32-ccache-${{ github.sha }}
          restore-keys: esp32-ccache-

      - name: Install dependencies - Linux
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build ccache mingw-w64
          ninja --version
          cmake --version
          gcc --version

      - name: Make
        env:
          IDF_PATH: ${{ github.workspace }}/third_party/esp-idf
          CCACHE_DIR: ${{ github.workspace }}/.ccache
          CCACHE_BASEDIR: ${{ github.workspace }}
          CCACHE_COMPRESS: true
          CCACHE_COMPRESSLEVEL: '6'
          CCACHE_MAXSIZE: 400M
        run: |
          make CROSS_ARCH=win64 all-cross
          make pi

      - uses: pguyot/arm-runner-action@v2
        with:
          cpu: cortex-a7
          base_image: "raspios_lite:2022-01-28"
          bind_mount_repository: true
          commands: |
              uname -m > pi_uname
              build/raspberry_pi/sdk/bin/toit.pkg version
              build/raspberry_pi/sdk/bin/toit.run --version
              build/raspberry_pi/sdk/tools/firmware --help

      - uses: pguyot/arm-runner-action@v2
        with:
          cpu: cortex-a7
          base_image: "raspios_lite_arm64:2022-01-28"
          bind_mount_repository: true
          commands: |
              uname -m > pi_uname
              build/raspberry_pi/sdk/bin/toit.pkg version
              build/raspberry_pi/sdk/bin/toit.run --version
              build/raspberry_pi/sdk/tools/firmware --help

      - name: Pack Raspberry Pi artifacts
        shell: bash
        # Note that we use `cp -R` first, since that works on every platform.
        run: |
          cp -R ./build/raspberry_pi/sdk ./build/raspberry_pi/toit
          tar -czf build/${{ steps.constants.outputs.raspberry_pi_artifact }} -C ./build/raspberry_pi -h --exclude toit/bin/mbedtls toit

      - name: Upload Raspberry Pi artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}-build
          path: build/${{ steps.constants.outputs.raspberry_pi_artifact }}

      - name: Upload release Raspberry Pi artifacts
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/${{ steps.constants.outputs.raspberry_pi_artifact }}
          tag: ${{ github.ref }}
          overwrite: true

  external:
    needs: build

    runs-on: ubuntu-latest

    steps:
      - name: Set up constants
        id: constants
        shell: bash
        run: |
          echo ::set-output name=external_result_dir::external-result
          echo ::set-output name=external_result_name::external-result-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Retrieve
        uses: actions/download-artifact@v3
        with:
          name: ${{ steps.constants.outputs.external_result_name }}
          path: external-result

      - name: Check
        shell: bash
        run: |
          find .
          cat external-result/*
          ! grep "fail" external-result/*
