name: Rebuild website

on:
  release:
    types: [ published, edited ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.LEON_REPOSITORY_DISPATCH }}
          repository: toitlang/toitlang.org
          event-type: new-release
